# See https://docs.github.com/get-started/getting-started-with-git/ignoring-files for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings
__screenshots__/

# System files
.DS_Store
Thumbs.db

# Created by https://www.toptal.com/developers/gitignore/api/java,jboss,maven,sonar,jboss4,jmeter,eclipse,sonarqube,jdeveloper
# Edit at https://www.toptal.com/developers/gitignore?templates=java,jboss,maven,sonar,jboss4,jmeter,eclipse,sonarqube,jdeveloper
 
### Eclipse ###
.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
 
# External tool builders
.externalToolBuilders/
 
# Locally stored "Eclipse launch configurations"
*.launch
 
# PyDev specific (Python IDE for Eclipse)
*.pydevproject
 
# CDT-specific (C/C++ Development Tooling)
.cproject
 
# CDT- autotools
.autotools
 
# Java annotation processor (APT)
.factorypath
 
# PDT-specific (PHP Development Tools)
.buildpath
 
# sbteclipse plugin
.target
 
# Tern plugin
.tern-project
 
# TeXlipse plugin
.texlipse
 
# STS (Spring Tool Suite)
.springBeans
 
# Code Recommenders
.recommenders/
 
# Annotation Processing
.apt_generated/
.apt_generated_test/
 
# Scala IDE specific (Scala & Java development for Eclipse)
.cache-main
.scala_dependencies
.worksheet
 
# Uncomment this line if you wish to ignore the project description file.
# Typically, this file would be tracked if it contains build/dependency configurations:
#.project
 
### Eclipse Patch ###
# Spring Boot Tooling
.sts4-cache/
 
### Java ###
# Compiled class file
*.class
 
# Log file
*.log
 
# BlueJ files
*.ctxt
 
# Mobile Tools for Java (J2ME)
.mtj.tmp/
 
# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar
 
# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
 
### JBoss ###
jboss/server/all/deploy/project.ext
jboss/server/default/deploy/project.ext
jboss/server/minimal/deploy/project.ext
jboss/server/all/log/*.log
jboss/server/all/tmp/**/*
jboss/server/all/data/**/*
jboss/server/all/work/**/*
jboss/server/default/log/*.log
jboss/server/default/tmp/**/*
jboss/server/default/data/**/*
jboss/server/default/work/**/*
jboss/server/minimal/log/*.log
jboss/server/minimal/tmp/**/*
jboss/server/minimal/data/**/*
jboss/server/minimal/work/**/*
 
# deployed package files #
 
*.DEPLOYED
 
### JBoss4 ###
# gitignore for JBoss v4 projects
 
/server/all/data
/server/all/log
/server/all/tmp
/server/all/work
/server/default/data
/server/default/log
/server/default/tmp
/server/default/work
/server/minimal/data
/server/minimal/log
/server/minimal/tmp
/server/minimal/work
 
# Note:
# there may be other directories that contain *.xml.failed or *.war.failed files
/server/default/deploy/*.xml.failed
/server/default/deploy/*.war.failed
 
### JDeveloper ###
# default application storage directory used by the IDE Performance Cache feature
.data/
 
# used for ADF styles caching
temp/
 
# default output directories
classes/
deploy/
javadoc/
 
# lock file, a part of Oracle Credential Store Framework
cwallet.sso.lck
 
### JMeter ###
# JMeter common ignore files
# http://jmeter.apache.org/
 
# Ignore Summary/Aggregrate reports
*.jtl
 
# Ignore log files
 
# Ignore customized user.properties
user.properties
 
### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
# https://github.com/takari/maven-wrapper#usage-without-binary-jar
.mvn/wrapper/maven-wrapper.jar
 
# Eclipse m2e generated files
# Eclipse Core
.project
# JDT-specific (Eclipse Java Development Tools)
.classpath
 
### Sonar ###
#Sonar generated dir
/.sonar/
 
### SonarQube ###
# SonarQube ignore files.
#
# https://docs.sonarqube.org/display/SCAN/Analyzing+with+SonarQube+Scanner
# Sonar Scanner working directories
.sonar/
.sonarqube/
.scannerwork/
 
# http://www.sonarlint.org/commandline/
# SonarLint working directories, configuration files (including credentials)
.sonarlint/
 
# End of https://www.toptal.com/developers/gitignore/api/java,jboss,maven,sonar,jboss4,jmeter,eclipse,sonarqube,jdeveloper

# Created by https://www.toptal.com/developers/gitignore/api/git,svn
# Edit at https://www.toptal.com/developers/gitignore?templates=git,svn

### Git ###
# Created by git for backups. To disable backups in Git:
# $ git config --global mergetool.keepBackup false
*.orig

# Created by git when using merge tools for conflicts
*.BACKUP.*
*.BASE.*
*.LOCAL.*
*.REMOTE.*
*_BACKUP_*.txt
*_BASE_*.txt
*_LOCAL_*.txt
*_REMOTE_*.txt

### SVN ###
.svn/

# End of https://www.toptal.com/developers/gitignore/api/git,svn

### Excepciones de seguridad ###
# Asegúrate de que las claves, certificados y datos sensibles no se suban al repositorio.

# Archivos de claves privadas
*.key
*.pem
*.cer
*.crt

# Almacenes de claves y credenciales
*.pfx
*.p12
*.jks
*.keystore

# Archivos de configuración que pueden contener credenciales
*.env
*.config
*.secret
secrets.json

# Claves y tokens API
apikeys.json
*.token

# Archivos generados por herramientas de seguridad
hashes.txt
*.gpg
.gnupg/
*.asc
